<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link href="/public/css/about.css" rel="stylesheet" type="text/css" />
    <title>About</title>
  </head>
  <body>
    <%- include layout/navbar %>
    <div class="about">
      <img
        class="other_banner"
        src="/public/images/others_banner.jpg"
        alt="banner_img"
      />
      <div>
        <div class="sub_category">
          <ul>
            <li class="category_header">Introduction</li>
            <li class="category_item">
              <a href="/contact"> Contact&nbsp;Ways </a>
            </li>
            <li class="category_item">
              <a href="/about"> Company&nbsp;Profile &#8594; </a>
            </li>
            <li class="category_item">
              <a href="/feedback"> Leave&nbsp;Feedbacks </a>
            </li>
            <li class="category_header"></li>
          </ul>
        </div>
        <div class="company_info">
          <h2>Company Profile</h2>
          <p>
            The Good Looking Supermarket is proud to partner with the
            communities in which we operate to provide support for thousands of
            local organizations throughout the region. Good Looking S&M has
            offered its customers a wider variety and selection, along with
            better quality and value, in food and nonfood items than traditional
            grocery stores.
          </p>
          <p>
            Having been formed with the sole purpose of running Good Looking
            S&M, the company repositioned their dedicated staff who injected
            their trademark vigour, years of experience and long-time loyalty
            into the development of the supermarket chain.
          </p>
          <p>
            Having already grown substantially in a short space of time, the
            company thrived. Today the company is a strong competitor on the
            local market and continues to go from strength to strength, building
            on its ethos that always puts the customer first.
          </p>
          <div>
            <img
              class="company_pic"
              src="/public/images/company_newspaper.jpg"
              alt="company_banner"
            />
            <img
              class="company_pic"
              src="/public/images/company_pic2.jpg"
              alt="company_banner"
            />
            <img
              class="company_pic"
              src="/public/images/company_wanted.jpg"
              alt="company_banner"
            />
          </div>
        </div>
      </div>
    </div>
    <%- include layout/footer %>
  </body>
</html>
