<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link href="/public/css/contact.css" rel="stylesheet" type="text/css" />
    <title>Contact</title>
  </head>
  <body>
    <%- include layout/navbar %>
    <div class="contact">
      <img
        class="other_banner"
        src="/public/images/others_banner.jpg"
        alt="banner_img"
      />
      <div>
        <div class="sub_category">
          <ul>
            <li class="category_header">Contact&nbsp;Us</li>
            <li class="category_item">
              <a href="/contact"> Contact&nbsp;Ways &#8594;</a>
            </li>
            <li class="category_item">
              <a href="/about">Company&nbsp;Profile</a>
            </li>
            <li class="category_item">
              <a href="/feedback">Leave Feedbacks</a>
            </li>
            <li class="category_header"></li>
          </ul>
        </div>
        <div class="contact_info">
          <h2>Contact Ways</h2>
          <img
            class="contact_img"
            src="/public/images/contact_img.jpg"
            alt="contact_img"
          />
          <div class="contact_infos">
            <p>Good Looking S&M (Supermarket)</p>
            <p>Addr: Brooklyn, NY. NoZip</p>
            <p>Tel:(646) 255-7585</p>
            <p>Fax: (123) 456-7890</p>
            <p>Email: jxh0414.com@gmail.com</p>
            <p>Owner: Juhuang Xue</p>
            <p>Web Developer: Juhuang Xue</p>
          </div>
        </div>
      </div>
    </div>
    <%- include layout/footer %>
  </body>
</html>
