* {
  margin: 0;
  padding: 0;
}

.checkout {
  width: 100%;
  min-height: 80rem;
}

.other_banner {
  width: 100%;
  height: 20rem;
  border-bottom: 1px solid gray;
}

.checkout_info {
  float: left;
  margin: 5% 0 0 20%;
  width: 60%;
}

.checkout_info h2 {
  padding-bottom: 1rem;
  border-bottom: 0.5px dotted gray;
}

.checkout_form {
  margin-top: 3%;
}

.checkout_bill_address {
  display: inline-block;
  width: 45%;
}

.checkout_payment {
  display: inline-block;
  width: 45%;
  margin-left: 5%;
  vertical-align: top;
}

.checkout_form label {
  font-size: 1.3rem;
  color: gray;
}

.checkout_form_input {
  display: flex;
  font-size: 1.2rem;
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}

.checkout_button {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background: limegreen;
  color: white;
  margin: 3rem 0;
  float: right;
}

.checkout_form h3 {
  margin-bottom: 3%;
}

.checkout_different_shipping {
  margin-top: 7%;
}

.checkout_hide {
  display: none;
}

/*  Stripe CSS */

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  padding: 1rem 0;
  color: red;
}

.checkout_error {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.checkout_error span {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  background: red;
  color: white;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  margin-bottom: 1%;
  border-radius: 0.5rem;
}
