<link
  href="/public/css/index/index-about.css"
  rel="stylesheet"
  type="text/css"
/>

<div class="index_about_contact">
  <div class="index_about">
    <img class="index_about_pic " src="/public/images/Home_about.jpg" />
    <p>
      Having already grown substantially in a short space of time, the company
      thrived. Today the company is a strong competitor on the local market and
      continues to go from strength to strength, building on its ethos that
      always puts the customer first.
      <a href="/about">MORE >> </a>
    </p>
  </div>
  <div class="index_contact">
    <img
      class="index_contact_pic"
      src="/public/images/Home_contact_updated.jpg"
    />
  </div>
</div>
